body {
  margin: 0;
  background-color: #0d1117;
  color: #fafafa;
  font-family: "Roboto", sans-serif;
}
#login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#login-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

#login-button {
  width: 140px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #4e2c8b;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}

#login-button:hover {
  background-color: #7756b4;
}

#login-button:active {
  background-color: #321766;
}

a {
  text-decoration: none;
  color: #9970b9;
  transition: 0.1s;
}
